*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.icon {
  fill: black;
  width: 32px;
}

.carousel-frame {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px;
}

.carousel-arrow {
  color: antiquewhite;
  position: absolute;
  border: 2px solid whitesmoke;
  background-color: rgba(240, 248, 255, 0.3);
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: 900;
  margin: 1px 5px;
}

.carousel-arrow {
  top: 3%;
  cursor: default;
}

.carousel-arrow.carousel-left {
  right: calc(100% - 600px);
}

.carousel-arrow.carousel-right {
  right: calc(100% - 630px);
}

.carousel-frame .carousel-slide {
  width: 640px;
  height: 450px;
  overflow: auto;
  display: flex;
}

.carousel-frame .carousel-slide img {
  width: 640px;
}

.carousel-frame .carousel-slide::-webkit-scrollbar {
  display: none;
}

.carousel-frame .slide-points {
  position: absolute;
  left: 18%;
  top: 25rem;
  display: flex;
}

.carousel-frame .slide-points .point {
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
  margin-left: 20px;
}

.point.show {
  outline: 3px solid aliceblue;
}
